In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
import pymysql
from sqlalchemy import create_engine
 

# MySQL 연결 정보 설정
host = 'localhost'         # 호스트 (예: '127.0.0.1')
user = 'root'              # 사용자 이름
password = '0000'      # 사용자 비밀번호
database = 'df_region'       # 데이터베이스 이름

# MySQL 연결 엔진 생성
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# # 데이터 저장 (엑셀 및 CSV)
# df_excel.to_sql('excel_table', con=engine, if_exists='replace', index=False)
# df_csv.to_sql('csv_table', con=engine, if_exists='replace', index=False)
# df_tourism.to_sql('tourism_table', con=engine, if_exists='replace', index=False)

# print("데이터가 성공적으로 MySQL에 저장되었습니다!")

In [3]:
df_excel="excel_table"  # 불러올 테이블 이름
df_csv = 'csv_table'
df_csv2 = 'tourism_table'
df_popularity_index = "popularity_index"

In [4]:
df_region = pd.read_sql(df_excel, con=engine) # 대중교통 매핑한 데이터
df_review = pd.read_sql(df_csv, con=engine) # 인기도 리뷰 데이터터
df_tourism = pd.read_sql(df_csv2, con=engine) # 관광지수
df_popularity = pd.read_sql_table(df_popularity_index, con=engine) # 인기도 지수 데이터
df_tourism

,자치구,행정동,힐링,액티비티,문화,음식,쇼핑,숙박,체험다양성_엔트로피,체험다양성_표준편차
0,가평군,가평읍,8.876844,35.535411,8.340898,32.220430,0.889715,0.000000,1.241378,15.629019
1,가평군,북면,16.513754,39.817658,9.000000,5.884205,0.060781,0.000000,1.137316,15.013705
2,가평군,상면,6.450964,25.268229,3.985214,17.605723,0.133293,0.000000,1.183715,10.294914
3,가평군,설악면,8.757376,47.974015,4.162964,28.523809,0.939065,0.000000,1.115577,19.231637
4,가평군,조종면,2.879345,20.849044,3.314121,16.775161,0.733022,0.058038,1.169467,8.991628
...,...,...,...,...,...,...,...,...,...,...
1095,중구,영종1동,1.378579,1.261023,1.519679,4.880436,0.436482,NaN,1.325857,1.721161
1096,중구,영종2동,1.337295,1.182559,1.417489,4.793340,0.437261,NaN,1.317795,1.699496
1097,중구,영종동,2.213174,2.429071,1.643989,5.732951,0.347635,NaN,1.352629,1.993813
1098,중구,용유동,23.811770,11.947058,2.922033,37.514162,0.000000,NaN,1.127921,15.527773
1099,중구,운서동,8.663230,3.278355,3.098167,11.138148,0.110456,NaN,1.264268,4.507017

In [5]:
import pandas as pd
from math import radians, sin, cos, sqrt, asin

# Haversine 거리 계산 함수
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat, dlon = lat2 - lat1, lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 6371 * asin(sqrt(a))

In [6]:
one = r"E:\machin-prj\EDA\관광지수\경기_중심좌표.csv"
two = r"E:\machin-prj\EDA\관광지수\서울_중심좌표.csv"
three = r"E:\machin-prj\EDA\관광지수\인천_중심좌표.csv"

df_one = pd.read_csv(one, encoding='utf-8-sig')
df_two = pd.read_csv(two, encoding='utf-8-sig')
df_three = pd.read_csv(three, encoding='utf-8-sig')

In [7]:
df_one.to_sql('gyeonggi', con=engine, if_exists='replace', index=False)
df_two.to_sql('seoul', con=engine, if_exists='replace', index=False)
df_three.to_sql('inchon', con=engine, if_exists='replace', index=False)

156

In [8]:
df_gyeonggi = 'gyeonggi'
df_seoul = 'seoul'
df_inchon = 'inchon'

df_one = pd.read_sql(df_gyeonggi, con=engine)
df_two = pd.read_sql(df_seoul, con=engine)
df_three = pd.read_sql(df_inchon, con=engine)

df_one

     시도명 시군구명   행정구역_코드 행정동명          경도         위도
0    경기도  가평군  31570110  가평읍  127.487514  37.828841
1    경기도  가평군  31570350   북면  127.494107  37.944531
2    경기도  가평군  31570330   상면  127.337749  37.790769
3    경기도  가평군  31570310  설악면  127.499130  37.653347
4    경기도  가평군  31570360  조종면  127.371755  37.867121
..   ...  ...       ...  ...         ...        ...
595  경기도  화성시  31240430  정남면  126.986126  37.161812
596  경기도  화성시  31240520  진안동  127.038221  37.219739
597  경기도  화성시  31240380  팔탄면  126.882084  37.153687
598  경기도  화성시  31240140  향남읍  126.927052  37.114555
599  경기도  화성시  31240570  화산동  127.005275  37.207520

[600 rows x 6 columns]

In [9]:
df_merged = pd.concat([df_one, df_two, df_three], axis=0)

In [10]:
df_merged.to_sql('selected_columns', con=engine, if_exists='replace', index=False)

1181

In [11]:
df_columns = 'selected_columns'
df_merged = pd.read_sql(df_columns, con=engine)

In [12]:
df_merged

        시도명 시군구명     행정구역_코드  행정동명          경도         위도
0       경기도  가평군  31570110.0   가평읍  127.487514  37.828841
1       경기도  가평군  31570350.0    북면  127.494107  37.944531
2       경기도  가평군  31570330.0    상면  127.337749  37.790769
3       경기도  가평군  31570310.0   설악면  127.499130  37.653347
4       경기도  가평군  31570360.0   조종면  127.371755  37.867121
...     ...  ...         ...   ...         ...        ...
1176  인천광역시   중구         NaN  영종2동  126.569286  37.495635
1177  인천광역시   중구         NaN   영종동  126.534678  37.509083
1178  인천광역시   중구         NaN   용유동  126.407745  37.433622
1179  인천광역시   중구         NaN   운서동  126.460164  37.472705
1180  인천광역시   중구         NaN   율목동  126.634909  37.470109

[1181 rows x 6 columns]

In [13]:
# '행정동' 기준으로 병합 (df_tourism 기준으로 왼쪽 병합)
df_tourism_merged = df_tourism.merge(df_merged[['행정동명', '위도', '경도']], 
                                     left_on='행정동', right_on='행정동명', how='left')

# 필요 없는 '행정동명' 열 제거
df_tourism_merged.drop(columns=['행정동명'], inplace=True)

In [14]:
df_tourism_merged

,자치구,행정동,힐링,액티비티,문화,음식,쇼핑,숙박,체험다양성_엔트로피,체험다양성_표준편차,위도,경도
0,가평군,가평읍,8.876844,35.535411,8.340898,32.220430,0.889715,0.000000,1.241378,15.629019,37.828841,127.487514
1,가평군,북면,16.513754,39.817658,9.000000,5.884205,0.060781,0.000000,1.137316,15.013705,37.944531,127.494107
2,가평군,상면,6.450964,25.268229,3.985214,17.605723,0.133293,0.000000,1.183715,10.294914,37.790769,127.337749
3,가평군,설악면,8.757376,47.974015,4.162964,28.523809,0.939065,0.000000,1.115577,19.231637,37.653347,127.499130
4,가평군,조종면,2.879345,20.849044,3.314121,16.775161,0.733022,0.058038,1.169467,8.991628,37.867121,127.371755
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,중구,영종1동,1.378579,1.261023,1.519679,4.880436,0.436482,NaN,1.325857,1.721161,37.486842,126.558114
1220,중구,영종2동,1.337295,1.182559,1.417489,4.793340,0.437261,NaN,1.317795,1.699496,37.495635,126.569286
1221,중구,영종동,2.213174,2.429071,1.643989,5.732951,0.347635,NaN,1.352629,1.993813,37.509083,126.534678
1222,중구,용유동,23.811770,11.947058,2.922033,37.514162,0.000000,NaN,1.127921,15.527773,37.433622,126.407745
1223,중구,운서동,8.663230,3.278355,3.098167,11.138148,0.110456,NaN,1.264268,4.507017,37.472705,126.460164

In [15]:
df_tourism_merged.to_sql('trip_merged', con=engine, if_exists='replace', index=False)

1224

In [16]:
df_trip_merged = 'trip_merged'

df_tourism2 = pd.read_sql(df_trip_merged, con=engine)

df_tourism2

,자치구,행정동,힐링,액티비티,문화,음식,쇼핑,숙박,체험다양성_엔트로피,체험다양성_표준편차,위도,경도
0,가평군,가평읍,8.876844,35.535411,8.340898,32.220430,0.889715,0.000000,1.241378,15.629019,37.828841,127.487514
1,가평군,북면,16.513754,39.817658,9.000000,5.884205,0.060781,0.000000,1.137316,15.013705,37.944531,127.494107
2,가평군,상면,6.450964,25.268229,3.985214,17.605723,0.133293,0.000000,1.183715,10.294914,37.790769,127.337749
3,가평군,설악면,8.757376,47.974015,4.162964,28.523809,0.939065,0.000000,1.115577,19.231637,37.653347,127.499130
4,가평군,조종면,2.879345,20.849044,3.314121,16.775161,0.733022,0.058038,1.169467,8.991628,37.867121,127.371755
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,중구,영종1동,1.378579,1.261023,1.519679,4.880436,0.436482,NaN,1.325857,1.721161,37.486842,126.558114
1220,중구,영종2동,1.337295,1.182559,1.417489,4.793340,0.437261,NaN,1.317795,1.699496,37.495635,126.569286
1221,중구,영종동,2.213174,2.429071,1.643989,5.732951,0.347635,NaN,1.352629,1.993813,37.509083,126.534678
1222,중구,용유동,23.811770,11.947058,2.922033,37.514162,0.000000,NaN,1.127921,15.527773,37.433622,126.407745
1223,중구,운서동,8.663230,3.278355,3.098167,11.138148,0.110456,NaN,1.264268,4.507017,37.472705,126.460164

In [17]:
from math import radians, sin, cos, sqrt, asin
# Haversine 거리 계산 함수
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat, dlon = lat2 - lat1, lon2 - lon1
    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 6371 * asin(sqrt(a))

In [18]:
station_lat, station_lon = 37.5561, 126.9726

In [19]:
# 거리 계산 및 새로운 열 추가
df_tourism2["거리"] = df_tourism2.apply(lambda row: haversine(station_lat, station_lon, row["위도"], row["경도"]), axis=1)

# 5km 미만인 데이터 필터링
df_filtered = df_tourism2[df_tourism2["거리"] < 5]

# 거리순으로 정렬 후, 같은 거리 내에서 음식 점수 순으로 정렬
df_sorted = df_filtered.sort_values(by=["음식", "거리"], ascending=[True, False])
# 상위 10개 데이터 선택
df_top10 = df_sorted.head(5)
df_top10

,자치구,행정동,힐링,액티비티,문화,음식,쇼핑,숙박,체험다양성_엔트로피,체험다양성_표준편차,위도,경도,거리
885,서대문구,홍은2동,0.390702,0.293605,0.838123,2.450779,0.190980,NaN,1.185010,0.937550,37.587171,126.932130,4.965690
1185,서구,연희동,1.051845,0.729812,0.913711,3.078482,0.305351,NaN,1.337679,1.078520,37.572229,126.932794,3.940382
233,성남시 수정구,신촌동,0.746294,0.640141,0.834338,4.297511,1.162527,0.0,1.285426,1.526463,37.564076,126.941579,2.874613
1010,용산구,이촌1동,1.736142,1.193696,2.387552,4.493663,0.083727,NaN,1.302420,1.639984,37.515173,126.971758,4.551458
886,서대문구,홍제1동,0.849835,0.876906,3.471260,4.596996,0.217449,NaN,1.230458,1.915116,37.583404,126.944320,3.928105

In [20]:
# 행정구까지 함께 두고, 중복일 때 popularity_index의 평균을 계산
df_wide = df_popularity.pivot_table(
    index=['행정구','행정동'],        # 그룹화할 열
    columns='카테고리',               # 새 컬럼이 될 열
    values='popularity_index',      # 채울 값
    aggfunc='mean'                  # 중복 시 평균 계산
).reset_index()

# 컬럼명 변경
df_wide = df_wide.rename(columns={'행정동':'행정동명'})

desired_cols = ['행정구','행정동명','힐링','액티비티','문화','음식','쇼핑']
df_wide = df_wide[desired_cols]


df_wide

카테고리     행정구  행정동명        힐링      액티비티        문화        음식        쇼핑
0     경기 가평군   가평읍  0.548977  0.466618       NaN  0.672266       NaN
1     경기 가평군    북면  0.467166  0.523288  0.411872  0.497900       NaN
2     경기 가평군    상면  0.578273  0.544610  0.438160  0.581476       NaN
3     경기 가평군   서종면  0.153449       NaN       NaN       NaN       NaN
4     경기 가평군   설악면  0.613602  0.579638  0.329859  0.623887       NaN
...      ...   ...       ...       ...       ...       ...       ...
1206   인천 중구  영종1동       NaN  0.368664       NaN       NaN       NaN
1207   인천 중구  영종2동  0.471494  0.433579  0.230000  0.571801  0.287381
1208   인천 중구   영종동  0.439995  0.373487  0.280000  0.588398       NaN
1209   인천 중구   용유동  0.616140  0.380967  0.488144  0.724406       NaN
1210   인천 중구   운서동  0.592539       NaN  0.541712  0.394102       NaN

[1211 rows x 7 columns]

In [21]:
# '행정동' 기준으로 병합 (df_tourism 기준으로 왼쪽 병합)
df_wide = df_wide.merge(df_merged[['행정동명', '위도', '경도']], 
                                     left_on='행정동명', right_on='행정동명', how='left')

df_wide.rename(columns={'행정동명': '행정동'}, inplace=True)
df_wide = df_wide.merge(df_tourism[['행정동', '자치구']],)

# 3) 기존 '행정구' 열 삭제
df_wide.drop(columns=['행정구'], inplace=True)

# --- 필요하면 컬럼 순서 정리 ---
# 맨 앞쪽에 '자치구'를 보여주고 싶다면 예:
cols = ['자치구'] + [c for c in df_wide.columns if c != '자치구']
df_wide = df_wide[cols]

df_wide

,자치구,행정동,힐링,액티비티,문화,음식,쇼핑,위도,경도
0,가평군,가평읍,0.548977,0.466618,NaN,0.672266,NaN,37.828841,127.487514
1,가평군,북면,0.467166,0.523288,0.411872,0.497900,NaN,37.944531,127.494107
2,가평군,상면,0.578273,0.544610,0.438160,0.581476,NaN,37.790769,127.337749
3,양평군,서종면,0.153449,NaN,NaN,NaN,NaN,37.609326,127.406345
4,가평군,설악면,0.613602,0.579638,0.329859,0.623887,NaN,37.653347,127.499130
...,...,...,...,...,...,...,...,...,...
2009,중구,영종1동,NaN,0.368664,NaN,NaN,NaN,37.486842,126.558114
2010,중구,영종2동,0.471494,0.433579,0.230000,0.571801,0.287381,37.495635,126.569286
2011,중구,영종동,0.439995,0.373487,0.280000,0.588398,NaN,37.509083,126.534678
2012,중구,용유동,0.616140,0.380967,0.488144,0.724406,NaN,37.433622,126.407745
2013,중구,운서동,0.592539,NaN,0.541712,0.394102,NaN,37.472705,126.460164

In [22]:
# 거리 계산 및 새로운 열 추가
df_wide["거리"] = df_wide.apply(lambda row: haversine(station_lat, station_lon, row["위도"], row["경도"]), axis=1)

# 5km 미만인 데이터 필터링
df_filtered2 = df_wide[df_wide["거리"] < 5]

# 거리순으로 정렬 후, 같은 거리 내에서 음식 점수 순으로 정렬
df_sorted2 = df_filtered2.sort_values(by=["음식", "거리"], ascending=[True, False])
# 상위 10개 데이터 선택
df2_top10 = df_sorted2.head(5)
df2_top10

       자치구    행정동  힐링  액티비티  문화        음식  쇼핑         위도          경도        거리
1576    중구     명동 NaN   NaN NaN  0.128449 NaN  37.563952  126.984304  1.351529
1891  서대문구    연희동 NaN   NaN NaN  0.160334 NaN  37.572229  126.932794  3.940382
1892    서구    연희동 NaN   NaN NaN  0.160334 NaN  37.572229  126.932794  3.940382
1868  영등포구    여의동 NaN   NaN NaN  0.178669 NaN  37.528506  126.928471  4.955026
1328   종로구  청운효자동 NaN   NaN NaN  0.181762 NaN  37.584414  126.969916  3.157287

In [31]:
import pandas as pd

def pick_two(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    key_cols = ['자치구', '행정동']

    # 두 컬럼 모두 NaN 인 행은 의미가 없으므로 미리 제거
    df1_clean = df1[key_cols].dropna(how='all').drop_duplicates()
    df2_clean = df2[key_cols].dropna(how='all').drop_duplicates()

    # -----------------------------------------------------------
    # ① 둘 중 하나가 완전히 비어 있을 때  -----------------------
    # -----------------------------------------------------------
    if df1_clean.empty and df2_clean.empty:
        # 두 DF 모두 내용이 없으면 빈 DF 반환
        return pd.DataFrame(columns=key_cols)

    if df1_clean.empty:          # df1 쪽이 전부 NaN
        return df2_clean.head(2).reset_index(drop=True)

    if df2_clean.empty:          # df2 쪽이 전부 NaN
        return df1_clean.head(2).reset_index(drop=True)

    # -----------------------------------------------------------
    # ② 둘 다 내용이 있을 때  ------------------------------------
    # -----------------------------------------------------------
    # 1) 교집합
    common = (
        pd.merge(df1_clean, df2_clean, on=key_cols)
          .drop_duplicates()
    )

    # (A) 교집합이 정확히 2개
    if len(common) == 2:
        return common.reset_index(drop=True)

    # (B) 교집합이 2개보다 많음
    if len(common) > 2:
        top1_df1 = df1_clean.iloc[0]
        top1_df2 = df2_clean.iloc[0]

        # 두 DF의 1위가 동일하면 df2 상위 2개
        if (top1_df1 == top1_df2).all():
            return df2_clean.head(2).reset_index(drop=True)
        # 다르면 각 DF의 1위씩
        return pd.DataFrame([top1_df1, top1_df2])[key_cols].reset_index(drop=True)

    # (C) 교집합이 0‒1개
    candidates = pd.concat([
        common,
        df1_clean.head(1),
        df2_clean.head(1)
    ]).drop_duplicates()

    return candidates.head(2).reset_index(drop=True)


# 사용 예
result = pick_two(df_top10, df2_top10)
result

    자치구   행정동
0    서구   연희동
1  서대문구  홍은2동

In [24]:
df_region

,addr1,cat1,cat2,cat3,mapx,mapy,nearest_station,closest_subway_station,matched_station_name,정류장번호,line1_x,line2_x,line3_x,line4_x,title
0,서울특별시 송파구 새말로 114 (문정동),음식,음식점,한식,127.126643,37.482681,문정법조단지.건영아파트(중),장지역,문정법조단지.건영아파트(중),GGB123000013,08호선,None,None,None,푼주
1,서울특별시 송파구 새말로 114 (문정동),음식,음식점,한식,127.126643,37.482681,문정법조단지.건영아파트(중),장지역,문정법조단지.건영아파트(중),GGB123000014,08호선,None,None,None,푼주
2,서울특별시 성동구 무학로6길 22 (도선동),음식,음식점,카페/전통찻집,127.032527,37.565075,상왕십리역,상왕십리역,상왕십리역,GGB103000005,02호선,None,None,None,레이지 유스
3,서울특별시 성동구 무학로6길 22 (도선동),음식,음식점,카페/전통찻집,127.032527,37.565075,상왕십리역,상왕십리역,상왕십리역,GGB103000015,02호선,None,None,None,레이지 유스
4,서울특별시 강서구 마곡중앙로 161-8 (마곡동),음식,음식점,이색음식점,126.827126,37.568982,마곡나루역1번출구,마곡나루역,마곡나루역1번출구,ICB115000898,09호선,공항철도,None,None,105405 마곡
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175980,경기도 화성시 효행로481번길 21 (안녕동),인문(문화/예술/역사),역사관광지,유적지/사적지,126.989286,37.208185,융건릉입구,병점역,융건릉입구,GGB233001840,01호선,None,None,None,화성 융건릉
175981,경기도 화성시 효행로481번길 21 (안녕동),인문(문화/예술/역사),역사관광지,유적지/사적지,126.989286,37.208185,융건릉입구,병점역,융건릉입구,GGB233001840,01호선,None,None,None,화성 융릉(장조·헌경황후)과 건릉(정조·효의황후) [유네스코 세계유산]
175982,경기도 화성시 효행로481번길 21 (안녕동),인문(문화/예술/역사),역사관광지,유적지/사적지,126.989286,37.208185,융건릉입구,병점역,융건릉입구,GGB233001841,01호선,None,None,None,화성 융건릉
175983,경기도 화성시 효행로481번길 21 (안녕동),인문(문화/예술/역사),역사관광지,유적지/사적지,126.989286,37.208185,융건릉입구,병점역,융건릉입구,GGB233001841,01호선,None,None,None,화성 융릉(장조·헌경황후)과 건릉(정조·효의황후) [유네스코 세계유산]
175984,경기도 화성시 효행로707번길 30,인문(문화/예술/역사),문화시설,미술관/화랑,127.006104,37.201672,신한미지엔정문,병점역,신한미지엔정문,GGB233001284,01호선,None,None,None,소다미술관

In [25]:
df_review

,검색어,장소명,평점,주소,리뷰닉네임,별점,날짜,리뷰내용,title,addr1,...,행정구,연도월,cat1,cat2,cat3,카테고리,행정동,감정레이블,감정확률,긍정점수
0,가나아트파크,가나아트파크,3.2,경기도 양주시 장흥면 권율로 117,짜다짜,3.0,2025.03.03.,이 가격에 이 시설이라면 리모델링이 많이 필요함,가나아트파크,경기도 양주시 장흥면 권율로 117,...,경기 양주시,2025-03,인문(문화/예술/역사),휴양관광지,테마공원,힐링,장흥면,1.0,0.687093,4.24
1,가나아트파크,가나아트파크,3.2,경기도 양주시 장흥면 권율로 117,리커버리,4.0,2025.02.15.,적당~~~합니다. 입장료 9000원 정도가 적절. 입장료는 11000원. 일단 넓은...,가나아트파크,경기도 양주시 장흥면 권율로 117,...,경기 양주시,2025-02,인문(문화/예술/역사),휴양관광지,테마공원,힐링,장흥면,2.0,0.732736,7.51
2,가나아트파크,가나아트파크,3.2,경기도 양주시 장흥면 권율로 117,BC😊,4.0,2024.06.02.,"생각보다 아주 넓진 않지만, 사람이 붐비진 않아서 피크닉으로 한번쯤 가볼만합니다~~",가나아트파크,경기도 양주시 장흥면 권율로 117,...,경기 양주시,2024-06,인문(문화/예술/역사),휴양관광지,테마공원,힐링,장흥면,1.0,0.877998,4.83
3,가나아트파크,가나아트파크,3.2,경기도 양주시 장흥면 권율로 117,포뇨v,4.0,2023.06.05.,예매하고 가야 싸요~! 물놀이 최고👍🏻,가나아트파크,경기도 양주시 장흥면 권율로 117,...,경기 양주시,2023-06,인문(문화/예술/역사),휴양관광지,테마공원,힐링,장흥면,2.0,0.986721,9.68
4,가나아트파크,가나아트파크,3.2,경기도 양주시 장흥면 권율로 117,sorasun,3.0,2023.04.24.,None,가나아트파크,경기도 양주시 장흥면 권율로 117,...,경기 양주시,2023-04,인문(문화/예술/역사),휴양관광지,테마공원,힐링,장흥면,NaN,NaN,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134626,서울특별시 강남구 선릉로100길 1,서울선릉과정릉,4.5,서울특별시 강남구 선릉로100길 1,민트초코,5.0,2023.08.05.,정말 자주 오는 곳인데 나무도 울창하고 산책로도 잘 되어있어서 숨이 탁 트이는 기분...,서울 선릉(성종·정현왕후)과 정릉(중종) [유네스코 세계유산],서울특별시 강남구 선릉로100길 1,...,서울 강남구,2023-08,인문(문화/예술/역사),역사관광지,유적지/사적지,문화,삼성2동,2.0,0.988853,9.90
134627,서울특별시 강남구 선릉로100길 1,서울선릉과정릉,4.5,서울특별시 강남구 선릉로100길 1,겸둥이,5.0,2023.07.26.,굿 플레이수 ❤️,서울 선릉(성종·정현왕후)과 정릉(중종) [유네스코 세계유산],서울특별시 강남구 선릉로100길 1,...,서울 강남구,2023-07,인문(문화/예술/역사),역사관광지,유적지/사적지,문화,삼성2동,2.0,0.989963,9.91
134628,서울특별시 강남구 선릉로100길 1,서울선릉과정릉,4.5,서울특별시 강남구 선릉로100길 1,별점조작시 말없이1점,5.0,2023.07.21.,삭막한 강남일대에 한줄기 빛,서울 선릉(성종·정현왕후)과 정릉(중종) [유네스코 세계유산],서울특별시 강남구 선릉로100길 1,...,서울 강남구,2023-07,인문(문화/예술/역사),역사관광지,유적지/사적지,문화,삼성2동,2.0,0.951486,9.56
134629,서울특별시 강남구 선릉로100길 1,서울선릉과정릉,4.5,서울특별시 강남구 선릉로100길 1,.,5.0,2023.07.03.,분주한 선릉 근처에서 찾는 한적한 여유.,서울 선릉(성종·정현왕후)과 정릉(중종) [유네스코 세계유산],서울특별시 강남구 선릉로100길 1,...,서울 강남구,2023-07,인문(문화/예술/역사),역사관광지,유적지/사적지,문화,삼성2동,1.0,0.502136,6.24
134630,서울특별시 강남구 선릉로100길 1,서울선릉과정릉,4.5,서울특별시 강남구 선릉로100길 1,아마야시,5.0,2023.06.14.,강남북부의 유일한 숲,서울 선릉(성종·정현왕후)과 정릉(중종) [유네스코 세계유산],서울특별시 강남구 선릉로100길 1,...,서울 강남구,2023-06,인문(문화/예술/역사),역사관광지,유적지/사적지,문화,삼성2동,2.0,0.827343,8.57

In [29]:
import pandas as pd
import numpy as np

# 1) Haversine 거리 계산 함수
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 6371 * 2 * np.arcsin(np.sqrt(a))

# 2) 추천 대상 행정동들의 중심 좌표 준비
regions = result.merge(
    df_top10[['자치구','행정동','위도','경도']],
    on=['자치구','행정동'], how='left'
).rename(columns={'위도':'reg_lat','경도':'reg_lon'})

# 3) 리뷰 데이터에 음식점 좌표(place_name, lat, lon) 합치기
region_sub = df_region[['addr1','mapy','mapx','title']].rename(
    columns={'mapy':'lat','mapx':'lon','title':'place_name'}
)
df_rev_geo = pd.merge(df_review, region_sub, on='addr1', how='inner')

# 4) 행정동별 정렬된 place_name 목록 생성
region_sorted = {}
for _, row in regions.iterrows():
    dong, lat0, lon0 = row['행정동'], row['reg_lat'], row['reg_lon']
    df_dong = df_rev_geo[
        (df_rev_geo['행정동']==dong)&(df_rev_geo['cat1']=='음식')
    ].copy()
    if df_dong.empty:
        region_sorted[dong] = []
        continue
    df_dong['distance_km'] = haversine(
        lon0, lat0,
        df_dong['lon'].values,
        df_dong['lat'].values
    )
    df_sorted = df_dong.sort_values(
        ['긍정점수','distance_km'],
        ascending=[False, True]
    )
    region_sorted[dong] = df_sorted['place_name'].tolist()

# 5) 중복 없이, 각 동에서 5개씩 뽑고 부족하면 다른 동 목록에서 채워서 총 10개 확보
required_per_region = 5
total_required = required_per_region * len(region_sorted)

unique_places = []
seen = set()

# 1차: 동별로 최대 5개씩
for dong, names in region_sorted.items():
    count = 0
    for name in names:
        if name not in seen:
            unique_places.append(name)
            seen.add(name)
            count += 1
        if count == required_per_region:
            break

# 2차: 만약 10개 미만이면, 모든 동의 리스트를 순회하며 남은 슬롯 채우기
if len(unique_places) < total_required:
    for names in region_sorted.values():
        for name in names:
            if name not in seen:
                unique_places.append(name)
                seen.add(name)
            if len(unique_places) == total_required:
                break
        if len(unique_places) == total_required:
            break

# 6) 결과 확인
print(f"▶ 총 추천 음식점 개수: {len(unique_places)}")
print(unique_places)

▶ 총 추천 음식점 개수: 10
['녹원쌈밥 연희점', '강수사', '카덴', '로덴드론 연희점', '피터팬1978', '오계절 남원추어탕', '카페 폭포', '고미정', '목란', '연희동칼국수 본점']

In [30]:
import pandas as pd
import numpy as np

# 1) 벡터화된 Haversine 거리 계산 함수
def haversine(lon1, lat1, lons, lats):
    """
    lon1, lat1: 스칼라 기준점 (float)
    lons, lats: 판다스 Series 또는 numpy array (길이 n)
    반환: 두 점 간 거리 배열 (km)
    """
    # 라디안 변환
    lon1_rad, lat1_rad = np.radians(lon1), np.radians(lat1)
    lons_rad = np.radians(lons)
    lats_rad = np.radians(lats)
    # 차이
    dlon = lons_rad - lon1_rad
    dlat = lats_rad - lat1_rad
    # Haversine 공식
    a = np.sin(dlat/2)**2 + np.cos(lat1_rad) * np.cos(lats_rad) * np.sin(dlon/2)**2
    return 6371 * 2 * np.arcsin(np.sqrt(a))  # km

# 2) df_region에서 음식점 좌표(place_name, lat, lon) 준비
region_sub = df_region[['addr1','mapy','mapx','title']].rename(
    columns={'mapy':'lat','mapx':'lon','title':'place_name'}
)

# 3) df_review + region_sub 병합하여 좌표 포함 리뷰 데이터 생성
df_rev_geo = pd.merge(df_review, region_sub, on='addr1', how='inner')

# 5) 전역 중복 방지 세트
used2 = set()
used3 = set()

rows = []
for init in unique_places:
    base = df_rev_geo[df_rev_geo['place_name'] == init]
    if base.empty:
        continue
    lat0, lon0 = base.iloc[0][['lat','lon']]
    
    # 추천장소2 후보 및 거리 계산 (벡터 방식)
    df2 = df_rev_geo[df_rev_geo['cat1']=='음식'].copy()
    df2['dist1'] = haversine(lon0, lat0, df2['lon'], df2['lat'])
    df2_sorted = df2.sort_values(['긍정점수','dist1'], ascending=[False, True])
    
    # rec2 선택 (5개, 중복.Global 방지)
    rec2, dist1_vals = [], []
    for _, r in df2_sorted.iterrows():
        name, d1 = r['place_name'], r['dist1']
        if name != init and name not in used2:
            rec2.append(name)
            used2.add(name)
            dist1_vals.append(d1)
        if len(rec2) == 5:
            break
    avg_d1 = np.mean(dist1_vals) if dist1_vals else np.nan
    
    # 추천장소3 후보 생성
    cand3 = []
    for p1 in rec2:
        t = df_rev_geo[df_rev_geo['place_name'] == p1].iloc[0]
        lat1, lon1 = t['lat'], t['lon']
        df3 = df_rev_geo[df_rev_geo['cat1']=='음식'].copy()
        df3['dist2'] = haversine(lon1, lat1, df3['lon'], df3['lat'])
        df3 = df3[df3['dist2'] <= 2]
        cand3.append(df3)
    
    if cand3:
        df3_all = pd.concat(cand3)
        df3_sorted = df3_all.sort_values(['긍정점수','dist2'], ascending=[False, True])
        # rec3 선택 (5개, 중복.Global 방지 + init/rec2 제외)
        rec3, dist2_vals = [], []
        for _, r in df3_sorted.iterrows():
            name, d2 = r['place_name'], r['dist2']
            if name not in used3 and name not in rec2 and name != init:
                rec3.append(name)
                used3.add(name)
                dist2_vals.append(d2)
            if len(rec3) == 5:
                break
        avg_d2 = np.mean(dist2_vals) if dist2_vals else np.nan
    else:
        rec3, avg_d2 = [], np.nan
    
    rows.append({
        '추천장소1': init,
        '도보이동km_1': round(avg_d1, 2),
        '추천장소2': rec2,
        '도보이동km_2': round(avg_d2, 2) if not np.isnan(avg_d2) else None,
        '추천장소3': rec3
    })

# 6) 결과 DataFrame
df_routes = pd.DataFrame(rows)
# 7) 리스트 컬럼을 문자열로 변환해 대괄호 제거
df_routes['추천장소2'] = df_routes['추천장소2'].apply(lambda x: ', '.join(x) if isinstance(x, list) else '')
df_routes['추천장소3'] = df_routes['추천장소3'].apply(lambda x: ', '.join(x) if isinstance(x, list) else '')

df_routes

,추천장소1,도보이동km_1,추천장소2,도보이동km_2,추천장소3
0,녹원쌈밥 연희점,0.24,"카덴, 강수사, 고미정, 로덴드론 연희점, 피터팬1978",0.27,"목란, 연희동칼국수 본점, 연희김밥 본점, 월순철판동태찜, 시도 플레이스"
1,강수사,0.45,"녹원쌈밥 연희점, 연희동칼국수 본점, 목란, 연희김밥 본점, 월순철판동태찜",0.18,"카덴, 피터팬1978, 청송본관함흥냉면, 로덴드론 연희점, 고미정"
2,카덴,0.88,"보틀라운지, 시도 플레이스, 청송본관함흥냉면, 오계절 남원추어탕, 카페 폭포",0.36,"연남장, 소이연남, 락희안 가좌본점, 툭툭누들타이, 하하"
3,로덴드론 연희점,0.92,"연남장, 툭툭누들타이, 소이연남, 락희안 가좌본점, 하하",0.15,"키친숲, 파롤앤랑그, 얼스어스, 송가네감자탕, 제스티살룬 연남"
4,피터팬1978,0.95,"파롤앤랑그, 얼스어스, 제스티살룬 연남, 키친숲, 브래디스커피",0.22,"땡스오트 연남, 연남다방, 차차티클럽, 온정텐동, 청록양식"
5,오계절 남원추어탕,1.49,"안짱, 엄마손떡볶이, 모래내곱창, 차이몬스터, 땡스오트 연남",0.43,"브래디스커피, 커피생각, 봉희설렁탕 본점, 보틀라운지, 566라멘"
6,카페 폭포,2.39,"대성집, 커피생각, 봉희설렁탕 본점, 송가네감자탕, 인왕산 더숲 초소책방",0.42,"바다회사랑, 딥커피, 차이몬스터, 지화자, 할랄가이즈 홍대"
7,고미정,1.57,"김삼보김치찌개, 춘삼국수, 호밀밭, 완차이, 복성각",0.09,"꼬숑돈까스, 신촌형제갈비, 대포찜닭 신촌, 엠브로돈까스, 유닭스토리 닭한마리 신촌점"
8,목란,1.08,"연남다방, 차차티클럽, 온정텐동, 청록양식, 야바이",0.19,"고기창고, 춘천집닭갈비막국수, 삼호복집 신촌, 복성각, 신촌수제비"
9,연희동칼국수 본점,1.23,"566라멘, 바다회사랑, 고기창고, 대포찜닭 신촌, 딥커피",0.24,"야바이, 완차이, 김삼보김치찌개, 섬소년, 옛날집참숯구이"