In [ ]:

# 1) 음식 카테고리 필터링
df_food = df[df['cat1'] == '음식'].copy()

# 2) 인천역 좌표
station_lat, station_lon = 37.476919, 126.616981

In [ ]:
class tour 지수 :

관광지수 데이터 계산 코드

In [ ]:
class tour 리뷰뷰 :

In [ ]:
class tour 대중교통통

In [ ]:
class tour 혼잡도

In [ ]:
class  서버 로 통신